<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.psc.vote.app" android:versionCode="1" android:versionName="1.0">
    <uses-sdk android:minSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET"/>
	  <uses-permission android:name="android.permission.SEND_SMS" />

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name=".UserHomePageActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SignInPageActivity" android:label="@string/log_in"></activity>
        <activity android:name=".SignUpPageActivity" android:label="@string/Registration"></activity>
        <activity android:name=".SearchActivity" android:label="@string/Search"></activity>
        <activity android:name=".ShowActivity" android:label="@string/Showitem"></activity>
		   <activity android:name=".CampaignActivity" android:label="@string/campaign"></activity>
            <activity android:name=".AnchorActivity" android:label="@string/anchor"></activity>
    </application>
</manifest>
